html {
	min-height: 100%;
	position: relative;
}

body {
	padding-bottom: 140px;
}

h1 {
	margin-top: 20px;
	font-family: unset;
	font-weight: 100;
}

p {
    font-size: 17px;
    line-height: 26px;
    font-family: Georgia, sans-serif;
}

@media (max-width: 767px) {
	.posts_title {
		color: #000000;
		font-size: 20px;
		line-height: 28px;
		padding-top: 5px;
		font-weight: 100;
	}

	.posts_date {
		font-size: 14px;
	}

	.posts_img {
		max-width: 340px;
	}

	.posts_large_img {
		max-width: 340px;
	}	

	.show_header {
		margin-top: 10px;
		font-size: 24px;
	}
}

@media (min-width: 768px) {
	.posts_title {
		color: #000000;
		font-size: 30px;
		line-height: 28px;
		padding-top: 12px;
		font-weight: 100;
	}

	.posts_date {
		font-size: 14px;
	}

	.posts_img {
		max-width: 740px;
	}

	.posts_large_img {
		max-width: 500px;
	}

	.show_header {
		margin-top: 10px;
	}

}

footer {
	background-color: darkgrey;
	padding: 30px 0;
	position: absolute;
	bottom: 0;
	height: 130px;
	width: 100%;
	box-shadow: #817979 0px 0px 5px;
}

.thumbnail {
	border-radius: 50%; width: 40px; height: 40px; margin: 0 8px 0 0;
}

.date_of_pub {
	color: #a1a09f; font-weight: lighter;
}

.navbar-toggler {
	background-color: seashell;
}

